In [137]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import time
import lxml.html as lh

In [110]:
#executable_path = {"executable_path": r"C:\Users\cdavidson\desktop\chromedriver.exe"}
executable_path = {"executable_path": r"C:\Users\corey\desktop\chromedriver.exe"}
browser=Browser("chrome", **executable_path, headless=False)

## NASA Mars News

In [115]:
#url of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

html= browser.html

In [116]:
soup = bs(html, 'html.parser')

In [117]:
news_title = soup.find('div', class_='content_title').text
print(news_title)

Mars Now

In [118]:
news_p=soup.find('div', class_="article_teaser_body").text
print(news_p)

NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [122]:
browser.quit

# JPL Mars Space Images -Featured Image

In [79]:
#executable_path = {"executable_path": r"C:\Users\cdavidson\desktop\chromedriver.exe"}
executable_path = {"executable_path": r"C:\Users\corey\desktop\chromedriver.exe"}
browser=Browser("chrome", **executable_path, headless=False)

In [80]:
#specify url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(2)
html= browser.html

In [81]:
#pour the soup
soup = bs(html, 'html.parser')

In [82]:
#follow link to "full image". Which incidentally is not the full size image but the medium size image
featured_image_url = browser.find_by_id("full_image").first.click()
time.sleep(2)

In [83]:
#follow link to 'More info" which will give you the full size image
browser.click_link_by_partial_text('more info')

D:\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [84]:
#identify new html
image_html= browser.html
#pour the soup
soup= bs(image_html,'html.parser')

In [85]:
image_url=soup.find('img', class_='main_image')['src']

In [86]:
featured_image_url = "https://www.jpl.nasa.gov" + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18284_hires.jpg'

## Mars Weather

In [130]:
#executable_path = {"executable_path": r"C:\Users\cdavidson\desktop\chromedriver.exe"}
executable_path = {"executable_path": r"C:\Users\corey\desktop\chromedriver.exe"}
browser=Browser("chrome", **executable_path, headless=False)

In [124]:
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(2)
html= browser.html

In [125]:
#pour the soup
soup = bs(html, 'html.parser')

In [129]:
#mars_weather = soup.find('div', class_='css-1dbjc4n r-1j3t67a').text
mars_weather = soup.find('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0').text
print(mars_weather)

Log in

## Mars Facts

In [132]:
#executable_path = {"executable_path": r"C:\Users\cdavidson\desktop\chromedriver.exe"}
executable_path = {"executable_path": r"C:\Users\corey\desktop\chromedriver.exe"}
browser=Browser("chrome", **executable_path, headless=False)

In [133]:
url='https://space-facts.com/mars/'
browser.visit(url)
time.sleep(2)
html= browser.html

In [ ]:
#pour the soup
soup = bs(html, 'html.parser')

In [156]:
tables = pd.read_html(url)

#Find Mars Facts DataFrame in the lists of DataFrames
df = tables[1]
#Assign the columns
df.columns = ['Description', 'Value']
html_table = df.to_html(table_id="html_tbl_css",justify='left',index=True)
df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [144]:
mars_facts = soup.find_all('table', class_="tablepress tablepress-id-p-mars")

In [145]:
for facts in mars_facts:
    print(facts.prettify())

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>
<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars-no-2">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

In [153]:
Description=[]
info=[]

for row in mars_facts:
    desc= row.find_all('tr', class_="column-1").text
    Description.append(desc)
    inf= row.find_all('tr', class_="column-2").text
    info.append(info)

AttributeError: 'str' object has no attribute 'find_all'