In [126]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import time
import lxml.html as lh

In [142]:
#executable_path = {"executable_path": r"C:\Users\cdavidson\desktop\chromedriver.exe"}
laptop = {"executable_path": r"C:\temp\chromedriver.exe"}
home = {"executable_path": r"C:\Users\corey\desktop\chromedriver.exe"}
executable_path = laptop
browser=Browser("chrome", **executable_path, headless=False)
time.sleep(3)

## NASA Mars News

In [143]:
#url of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

html= browser.html
time.sleep(3)

In [144]:
soup = bs(html, 'html.parser')

In [149]:
news_title = soup.find_all('div', class_='content_title')[1].text
news_title

"Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

In [151]:
news_p = soup.find_all('div', class_="article_teaser_body")[0].text
print(news_p)

NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [ ]:
browser.quit

# JPL Mars Space Images -Featured Image

In [23]:
browser=Browser("chrome", **executable_path, headless=False)
time.sleep(3)

In [24]:
#specify url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(2)
html= browser.html

In [25]:
#pour the soup
soup = bs(html, 'html.parser')

In [26]:
#follow link to "full image". Which incidentally is not the full size image but the medium size image
featured_image_url = browser.find_by_id("full_image").first.click()
time.sleep(2)

In [27]:
#follow link to 'More info" which will give you the full size image
browser.click_link_by_partial_text('more info')

C:\Users\cdavidson\AppData\Local\Continuum\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [28]:
#identify new html
image_html= browser.html
#pour the soup
soup= bs(image_html,'html.parser')

In [29]:
image_url=soup.find('img', class_='main_image')['src']

In [30]:
featured_image_url = "https://www.jpl.nasa.gov" + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA11591_hires.jpg'

## Mars Weather

In [156]:
#launch new browser
browser=Browser("chrome", **executable_path, headless=False)
time.sleep(3)

In [157]:
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(2)
html= browser.html

In [158]:
#pour the soup
soup = bs(html, 'html.parser')

In [164]:
#mars_weather = soup.find('div', class_='css-1dbjc4n r-1j3t67a').text
weatherReports =[]

tweets = soup.find_all('span')
for tweet in tweets:
    if "hPa" in tweet.text:
        weatherReports.append(tweet.text)
        
weatherReports[0]

'InSight sol 457 (2020-03-10) low -95.7ºC (-140.3ºF) high -9.1ºC (15.6ºF)\nwinds from the SSE at 6.5 m/s (14.5 mph) gusting to 21.0 m/s (46.9 mph)\npressure at 6.30 hPa'

## Mars Facts

In [35]:
#launch new browser
browser=Browser("chrome", **executable_path, headless=False)
time.sleep(3)

In [36]:
url='https://space-facts.com/mars/'
browser.visit(url)
time.sleep(2)
html= browser.html

In [37]:
#pour the soup
soup = bs(html, 'html.parser')

In [38]:
tables = pd.read_html(url)

#get table information from 2nd table
df = tables[1]
#Assign columns
df.columns = ['Description', 'Value']
html_table = df.to_html(table_id="html_tbl_css",justify='left',index=True)
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [62]:
#html_table

In [39]:
mars_facts = soup.find_all('table', class_="tablepress tablepress-id-p-mars")

In [40]:
for facts in mars_facts:
    print(facts.prettify())

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

## Mars Hemispheres

In [76]:
#launch new browswer
browser=Browser("chrome", **executable_path, headless=False)
time.sleep(3)

In [77]:
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [78]:
browser.visit(url)
time.sleep(2)
html= browser.html
time.sleep(3)

In [79]:
#pour the soup
soup = bs(html, 'html.parser')

In [80]:
#find the four hemispheres
hems = soup.find_all("div", class_='item')

#Organize it so you can read it
# for hem in hems:
    #print(hem.prettify())

In [95]:
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title
# containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url
# and title.
hemisphere_urls=[]
hemisphere_title=[]
hemisphere_dictionary = []

base_url = 'https://astrogeology.usgs.gov'

for hem in hems:
    
    #get title for each hemisphere
    title = hem.find('h3').text
    
    #append title to list
    hemisphere_title.append(title)
    
    #get link to detail page
    href = hem.find('a', class_="itemLink product-item")['href']
    
    #go to detail page
    browser.visit(base_url + href)
    
    #parse html
    href = browser.html
    soup = bs(href, 'html.parser')
    
    #get src of image from page
    img_loc= soup.find('img', class_='wide-image')['src']
    
    #concatenate the base url with the image location
    img_url= base_url + img_loc
    
    #append image url to list
    hemisphere_urls.append(img_url)
    
    hemisphere_dictionary.append({"title": title, "img_url": img_url})
    
    

#---------testing purposes only    
#print(title)
#print(href)
#print(img_loc)

In [96]:
hemisphere_title

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [97]:
hemisphere_urls

['https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg']

In [98]:
hemisphere_dictionary

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]